/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*

    0.  Includes
    1.  Icons
    2.  General
    3.  Utilities
    4.  General
    5.  Single Post
    6.  Third Party Elements
    7.  Pagination
    8.  Footer
    9.  Media Queries (Tablet)
    10. Media Queries (Mobile)

 */

/* ==========================================================================
   0. Includes - Ground zero
   ========================================================================== */

@import url(normalize.css);

/* ==========================================================================
   2. General - Setting up some base styles
   ========================================================================== */

html {
    height: 100%;
    max-height: 100%;
    font-size: 62.5%;
}

body {
	margin: 0;
    height: 100%;
    max-height: 100%;
    font-family: "Lekton", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
/*	font-family:Galdeano,"Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;*/
/*    font-family: 'Noto Serif', serif;*/
    font-size: 1.4rem;
    line-height: 1.6em;
    color: #3A4145;
}

::-moz-selection {
    color: #222;
    background: #D6EDFF;
    text-shadow: none;
}

::selection {
    color: #222;
    background: #D6EDFF;
    text-shadow: none;
}

h1, h2, h3,
h4, h5, h6 {
/*    text-rendering: optimizeLegibility;*/
    line-height: 1.4em;
/*    margin-top: 0;*/
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 3.5rem;
    line-height: 1em;
    letter-spacing: -1px;
    text-indent: -2px;
}

h2 {
    font-size: 3rem;
    line-height: 1em;
}

h3 {
    font-size: 2.6rem;
    line-height: 1.2em;
}

h4 {
    font-size: 2.2rem;
    line-height: 1.2em;
}

h5 {
    font-size: 1.7rem;
}

h6 {
    font-size: 1.4rem;
}

a {
/*    color: #4a4a4a;*/
    color: #57A3E8;
    transition: color ease 0.3s;
	text-decoration: none;;
}

a:hover {
/*    color: #57A3E8;*/
    color: #50585D;
	text-decoration: underline;
}

h1 a, h2 a{
    color: #50585D;
	text-decoration: none;;
}

h3 a, h4 a, h5 a, h6 a {
    color: #50585D;
	text-decoration: underline;;
}

h1 a:hover, h2 a:hover, h3 a:hover,
h4 a:hover, h5 a:hover, h6 a:hover {
    color: #57A3E8;
	text-decoration: none;;
}

p, ul, ol, dl {
    margin: 1.6em 0;
}

ol ol, ul ul,
ul ol, ol ul {
    margin: 0.4em 0;
}

dl dt {
    float: left;
    width: 180px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: 1em
}

dl dd {
    margin-left: 200px;
    margin-bottom: 1em
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #efefef;
    margin: 0 0 1.6em;
    padding: 0;
}

blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0 1.6em -2.2em;
    padding: 0 0 0 1.6em;
    border-left: #4a4a4a 0.4em solid;
}

blockquote p {
    margin: 0.8em 0;
    font-style: italic;
}

blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size:0.9em;
    color: #ccc;
}

blockquote small:before { content: '\2014 \00A0'; }

blockquote cite {
    font-weight:bold;
}

blockquote cite a { font-weight: normal; }

mark {
    background-color: #ffc336;
}

code, tt {
    padding: 1px 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.85em;
    white-space: pre-wrap;
    border: 1px solid #E3EDF3;
/*    background: #F7FAFB;*/
	background: #fee9cc;
    border-radius: 2px;
}

pre {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0;
    border: 1px solid #E3EDF3;
    width: 100%;
    padding: 10px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.9em;
    white-space: pre;
    overflow: auto;
    background: #F7FAFB;
    border-radius: 3px;
}

pre code, tt {
    font-size: inherit;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0;
}

kbd {
    display: inline-block;
    margin-bottom: 0.4em;
    padding: 1px 8px;
    border: #ccc 1px solid;
    color: #666;
    text-shadow: #fff 0 1px 0;
    font-size: 0.9em;
    font-weight: bold;
    background: #f4f4f4;
    border-radius: 4px;
    box-shadow: 
        0 1px 0 rgba(0, 0, 0, 0.2), 
        0 1px 0 0 #fff inset;
}

table {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0;
    width:100%;
    max-width: 100%;
    background-color: transparent;
}

table th,
table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #efefef;
}

table th { color: #000; }

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: 0;
}

table tbody + tbody { border-top: 2px solid #efefef; }

table table table { background-color: #fff; }

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
    background-color: #f6f6f6;
}

table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th {
   background: transparent;
}

/*iframe, .fluid-width-video-wrapper {
    display: block;
    margin: 1.6em 0;
}*/

/* When a video is inside the fitvids wrapper, drop the
margin on the iframe, cause it breaks stuff. */
/*
.fluid-width-video-wrapper iframe {
    margin: 0;
}*/


/* ==========================================================================
   3. Utilities - These things get used a lot
   ========================================================================== */

/* Hides shit */
.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
}

/* Creates a responsive wrapper that makes our content scale nicely */
.inner {
    position: relative;
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
}

/* Centres vertically yo. (IE8+) */
.vertical {
    display: table-cell;
    vertical-align: middle;
}


/* ==========================================================================
   4. General - The main styles for the the theme
   ========================================================================== */
.site-header {
    background: #F7FAFB;
}
.site-header-inner {
	width: 80%;
    position: relative;
    max-width: 700px;
    margin: 0 auto -0.5em;
/*    padding-bottom: -10em;*/
/*    border-bottom: #EBF2F6 1px solid;*/
    word-break: break-word;
    hyphens: auto;
    text-align: justify;
/*	background: #000000;*/
}
.site-header-inner:after {
      content: '';
      width: 100%;
      display: inline-block; 
}	  
.site-header-inner #header {
      display: inline-block;
      position: relative;
      top: 1em;
  	  float: left;
}
.site-header-inner #header h1 {
	font-size: 2em;
	line-height: 1em;
	margin-bottom: 0px;
}
.site-header-inner #header p {
	font-size: 0.8em;
	line-height: 5px;
	margin-top: 8px;
}
.site-header-inner #header a {
/*          color: #a9a9a9;*/
/*          background-color: #e9e9e9;*/
          display: block;
/*		  margin: 2em, 2em;*/
		  padding: 0.15em 1em 0.3em;
		  border-radius: 4px;
		  text-decoration: none;
}
          
.site-header-inner #header a:hover {
            color: #fff;
/*            background-color: #57A3E8; */
            background-color: #80B6E9;
}
.site-header-inner nav {
      display: inline-block;
      position: relative;
      margin-top: 4em;
	  font-size: 1.5rem;
	  float: right;
/*  	  background: #000000;*/
}
.site-header-inner nav a {
color: #50585D;
}

.site-header-inner nav a:hover {
	color: #57A3E8;
}
.site-header-inner nav span {
        margin: .5em; 
}

/*article .divider .meta .tags a, article .meta .tags .divider a, */
article .divider a {
    font-family: "Titillium Web", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    margin: 0 2em;
	font-size: 1.5rem;
}
/*article .divider .meta .tags a i, article .meta .tags .divider a i, */
article .divider a i {
      color: #50585D;
      margin: 0;
  }
article .divider a i:hover {
    color: #57A3E8 !important;
}

/*for navigation at the bottom*/
article .divider {
  margin: 2em 0; }
  article .divider i {
    margin: 0 2em;
    color: #e9e9e9; }
article .divider {
  position: relative;
  font-size: 1em;
  z-index: 1;
  overflow: hidden;
  text-align: center; }
article .divider:before, article .divider:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 49%;
  height: 2px;
  content: '\a0';
  background-color: #f0f0f0; }
article .divider:before {
  margin-left: -50%;
  text-align: right; }
article .divider:after {
  margin-left: 1%; }



/* Every post, on every page, gets this style on its <article> tag */
.post {
    position: relative;
    width:80%;
    max-width: 700px;
    margin: 4rem auto;
    padding-bottom: 4rem;
    border-bottom: #EBF2F6 1px solid;
    word-break: break-word;
    hyphens: auto;
/*	background: #000000;*/
}

.post hr {
    display: block;
    height: 1px;
    padding: 0;
	width: 50%;
    border: none;
	margin: 0;
    border-top: 1px dashed #d0d0d0;
    border-bottom: 1px dashed #f9f9f9;
}

/* Add a little circle in the middle of the border-bottom on our .post
   just for the lolz and stylepoints. */
.post:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #E7EEF2 1px solid;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    background: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-shadow: #fff 0 0 0 5px;
}

.post-title {
    margin:0;
}

.post-title a {
    text-decoration: none;
}

.post-excerpt p {
    margin: 1.6rem 0 0 0;
    font-size: 1em;
    line-height: 1.6em;
}

.post-excerpt p img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}

.post-meta {
    display: inline-block;
    margin: 0 0 5px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #6D7880;
}

.post-meta time {
    margin: 0 1rem 0 0;
}

.post-meta a {
    color: #9EABB3;
    font-style: italic;
    transition: color ease 0.1s;
    font-size: 1.3rem;
}

.post-meta a:hover {
    color: #57A3E8;
}

/*for archive*/
ul.listing {
  margin-top: 1em;
}
  ul.listing li {
    padding: 0; }
    ul.listing li.listing-item a {
      padding: .2em 0 .2em 2em; 
    }
    ul.listing li.listing-item time {
	  font-family: "Lucida Console", Monaco, monospace;
/*	  font-weight: 500;*/
      color: #6D7880; }
      ul.listing li.listing-item:hover {
        background-color: #F7FAFB; }
      ul.listing li.listing-seperator {
	      padding: .5em 0 0 0; 
		  font-weight: 700;
	      list-style-type: none;
      }
/*      ul.listing li.listing-seperator:before {
        content: "тна ";
        color: #ccc; }*/

/*for tags*/





/* ==========================================================================
   5. Single Post - When you click on an individual post
   ========================================================================== */

/* Tweak the .post wrapper style */
.post-template .post {
    border-bottom: none;
    padding-bottom: 0;
	margin-bottom: 0;
}

/* Kill that stylish little circle that was on the border, too */
.post-template .post:after {
    display: none;
}

/* Keep large images within the bounds of the post-width */
.post-content img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}


/* ==========================================================================
   6. Third Party Elements - Embeds from other services
   ========================================================================== */

/* Github */

.gist table {
    margin: 0;
    font-size: 1.4rem;
}

.gist .line-number {
    min-width: 25px;
    font-size: 1.1rem;
}


/* ==========================================================================
   7. Pagination - Tools to let you flick between pages
   ========================================================================== */

/* The main wrapper for our pagination links */
.pagination {
    position: relative;
    width: 80%;
    max-width: 700px;
    margin: 4rem auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    color: #9EABB3;
    text-align: center;
}

.pagination a {
    color: #9EABB3;
}

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
    position: absolute;
    display: inline-block;
    padding: 0 15px;
    border: #EBF2F6 2px solid;
    text-decoration: none;
    border-radius: 30px;
    transition: border ease 0.3s;
}

.older-posts {
    right: 0;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
}

.newer-posts {
    left: 0;
}

.older-posts:hover,
.newer-posts:hover {
    border-color: #9EABB3;
    text-decoration: none;
}


/* ==========================================================================
   8. Footer - The bottom of every page
   ========================================================================== */
body .wrap {
 position:relative; /* needed for footer positioning*/
 margin:0 auto; /* center, not in IE5 */
 
 height:auto !important; /* real browsers */
 height:100%; /* IE6: treaded as min-height*/

 min-height:100%; /* real browsers */
}

body #content {
 padding:0 0 13rem; /* 6*1.3rem from footer, 4*1.3rem for margin-bottom */
/* background: #000000;*/
}

.site-footer {
    position:absolute;
    bottom:0; /* stick to bottom */
/*    position: relative;*/
	width: 100%;
	bottom: 0;
/*  height == (2*2+2)*1.3rem*/
    padding: 2em 0;
    border-top: #EBF2F6 1px solid;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    line-height: 2em;
    color: #BBC7CC;
    text-align: center;
    background: #F7FAFB;
/*    background: #ff0000;*/
}

.site-footer a {
    color: #BBC7CC;
    text-decoration: underline;
}

.site-footer a:hover {
    color: #50585D;
}


/* ==========================================================================
   9. Media Queries - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width: 900px) {

    blockquote {
        margin-left: 0;
    }

    .site-head {
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box;
        box-sizing: border-box; 
        height: auto;
        min-height: 240px;
        padding: 15% 0;
    }

    .blog-title {
        font-size: 4rem;
        letter-spacing: -1px;
    }

    .blog-description {
        font-size: 1.7rem;
        line-height: 1.5em;
    }

    .post {
        font-size: 0.9em;
        line-height: 1.6em;
    }

    .post-template .post {
        padding-bottom: 1rem;
    }

    .post-template .post-header {
        padding: 40px 0;
    }

    h1 {
        font-size: 4.8rem;
        text-indent: -2px;
    }

    h2 {
        font-size: 3.8rem;
    }

    h3 {
        font-size: 3.3rem;
    }

    h4 {
        font-size: 2.8rem;
    }

}

/* ==========================================================================
   10. Media Queries - Smaller than 500px
   ========================================================================== */


@media only screen and (max-width: 500px) {

    .blog-logo img {
        max-height: 80px;
    }

    .inner, 
    .pagination {
        width: auto;
        margin-left: 16px;
        margin-right: 16px;
    }

    .post {
        width:auto;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 0.8em;
        line-height: 1.6em;
    }

    .site-head {
        padding: 10% 0;
    }

    .blog-title {
        font-size: 3rem;
    }

    .blog-description {
        font-size: 1.5rem;
    }


    h1, h2 {
        font-size: 3rem;
        line-height: 1.1em;
        letter-spacing: -1px;
    }

    h3 {
        font-size: 2.8rem;
    }

    h4 {
        font-size: 2.3rem;
    }

    .post-template .post {
        padding-bottom: 0;
    }

    .post-template .post-header {
        padding: 30px 0;
    }

    .post-meta {
        font-size: 1.3rem;
    }

    .post-footer {
        padding: 4rem 0;
        text-align: center;
    }

    .post-footer .author {
        margin: 0 0 2rem 0;
        padding: 0 0 1.6rem 0;
        border-bottom: #EBF2F6 1px dashed;
    }

    .post-footer .share {
        position: static;
        width: auto;
    }

    .post-footer .share a {
        margin: 1.4rem 0.8rem 0 0.8rem;
    }

    .older-posts,
    .newer-posts {
        position: static;
        margin: 10px 0;
    }

    .page-number {
        display: block;
    }

    .site-footer {
        margin-top: 6rem;
        font-size: 1.1rem;
    }

}

/* ==========================================================================
   End of file. Media queries should be the last thing here. Do not add stuff
   below this point, or it will probably fuck everything up.
   ========================================================================== */
